<po-page-slide
  #pageSlide
  p-title="Serviços"
  p-size="xl"
  [p-click-out]='false'
  >
  <po-loading-overlay
    [hidden]="!isTelaLoad">
  </po-loading-overlay>


  <po-container po-container class="po-mb-5">
    <div class="po-row po-md-12">
      <po-button
        p-label="Salvar"
        p-icon="fas fa-save"
        (p-click)="SalvarGrupo()">

      </po-button>
    </div>
  </po-container>

  <div class="po-row po-md-12 po-mt-5">
    <po-input
      class="po-md-6"
      [(ngModel)]="NomeServico"
      name="input"
      p-label="Nome"
      p-clean="true">
    </po-input>
    <po-input
      class="po-md-6"
      name="input"
      [(ngModel)]="DescricaoServico"
      p-label="Descrição"
      p-clean="true">
    </po-input>
  </div>
  <div class="po-row po-md-12 po-mb-5">
    <po-number
      [(ngModel)]="Valor"
      class="po-md-12"
      name="numbers"
      p-label="Valor"
      name="price"
      p-clean="true">
    </po-number>
  </div>

  <div class="po-row">
    <po-table
      class="po-md-12"
      [p-items]='grid'
      [p-columns]="columns"
      [p-actions]="actions"
      [p-loading]="isGridLoad">
    </po-table>
  </div>



</po-page-slide>

<po-modal
  #poModalExclusaoLinha
  [p-hide-close]='true'
  p-title="Atenção"
  [p-primary-action]="confirmarExclusaoServico"
  [p-secondary-action]="cancelarExclusaoServico">
  <div>
    <p>Ao excluir este servico suas informações não poderão ser recuperadas.</p>
    <p><b>Deseja realmente excluir o servico?</b></p>
  </div>
</po-modal>
